In [1]:
import os
from ECG.ecg import read_ecg
from ECG.ecg_sig import band_pass_filter
from ECG.ecg import make_df_summary
# file  =  os.path.join(os.path.dirname(os.path.realpath(__file__)),"a01.dat")
# filer  =  os.path.join(os.path.dirname(os.path.realpath(__file__)),"a01r.dat")

file  =  "a01.dat"
filer  =  "a01r.dat"

import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import numpy as np
from scipy.signal import find_peaks
import numpy as np
import matplotlib.pyplot as plt

In [3]:
events = 1000 # second window
eventsr =4*events
num_windows = 200

num_windows = 2000
batchs = np.zeros((num_windows,events))
labels = np.zeros(num_windows)
y_full = read_ecg(file,0,num_windows*events)
yr_full = read_ecg(filer,0,num_windows*eventsr)
RespN_full = yr_full[2::4]

In [4]:
for i in range(num_windows):
    yf = band_pass_filter(y_full[i*events:(i+1)*events],low=0.1,high = 0.5)
    RespNf = band_pass_filter(RespN_full[i*events:(i+1)*events],low=0.1,high = 0.5)
    batchs[i] = yf
    idx ,_ = find_peaks(RespNf,height=0)
    labels[i] = len(idx)*60/(events/100) # breaths per minute

In [10]:
freq = np.zeros(len(labels))
N = events
# sample spacing
T = 1.0 / 100.0
x = np.linspace(0.0, N*T, N)
xf = np.linspace(0.0, 1.0/(2.0*T), N/2)
for i in range(len(freq)):
    y = batchs[i]
    yf = scipy.fftpack.fft(y)
    freq[i] = xf[np.argmax(yf[:100])]

In [12]:
len(freq)

2000

In [13]:
# make RR invervals

In [14]:
df = make_df_summary(file,0,num_windows*events)

In [15]:
df

        Offset  Amplitude   T (sec)    DT  DAmplitude
0           39      294.0      0.39  0.00         0.0
1          127      237.0      1.27  0.88       -57.0
2          212      244.0      2.12  0.85         7.0
3          294      299.0      2.94  0.82        55.0
4          377      340.0      3.77  0.83        41.0
...        ...        ...       ...   ...         ...
20763  1999549      310.0  19995.49  1.21       -15.0
20764  1999665      279.0  19996.65  1.16       -31.0
20765  1999777      291.0  19997.77  1.12        12.0
20766  1999884      286.0  19998.84  1.07        -5.0
20767  1999982      267.0  19999.82  0.98       -19.0

[20768 rows x 5 columns]

In [18]:
df["group"] = np.digitize(df.Offset,np.arange(0,df.Offset.values[-1],1000))

In [20]:
df.head(50)

    Offset  Amplitude  T (sec)    DT  DAmplitude  group
0       39      294.0     0.39  0.00         0.0      1
1      127      237.0     1.27  0.88       -57.0      1
2      212      244.0     2.12  0.85         7.0      1
3      294      299.0     2.94  0.82        55.0      1
4      377      340.0     3.77  0.83        41.0      1
5      465      344.0     4.65  0.88         4.0      1
6      559      319.0     5.59  0.94       -25.0      1
7      656      299.0     6.56  0.97       -20.0      1
8      750      294.0     7.50  0.94        -5.0      1
9      843      310.0     8.43  0.93        16.0      1
10     937      309.0     9.37  0.94        -1.0      1
11    1037      321.0    10.37  1.00        12.0      2
12    1139      288.0    11.39  1.02       -33.0      2
13    1240      270.0    12.40  1.01       -18.0      2
14    1339      290.0    13.39  0.99        20.0      2
15    1436      318.0    14.36  0.97        28.0      2
16    1531      278.0    15.31  0.95       -40.0      2
17    1629      328.0    16.29  0.98        50.0      2
18    1730      237.0    17.30  1.01       -91.0      2
19    1824      270.0    18.24  0.94        33.0      2
20    1914      295.0    19.14  0.90        25.0      2
21    2000      283.0    20.00  0.86       -12.0      3
22    2085      315.0    20.85  0.85        32.0      3
23    2182      343.0    21.82  0.97        28.0      3
24    2275      253.0    22.75  0.93       -90.0      3
25    2368      314.0    23.68  0.93        61.0      3
26    2452      329.0    24.52  0.84        15.0      3
27    2529      296.0    25.29  0.77       -33.0      3
28    2607      295.0    26.07  0.78        -1.0      3
29    2687      350.0    26.87  0.80        55.0      3
30    2768      316.0    27.68  0.81       -34.0      3
31    2852      290.0    28.52  0.84       -26.0      3
32    2936      309.0    29.36  0.84        19.0      3
33    3017      266.0    30.17  0.81       -43.0      4
34    3100      321.0    31.00  0.83        55.0      4
35    3189      315.0    31.89  0.89        -6.0      4
36    3289      337.0    32.89  1.00        22.0      4
37    3382      311.0    33.82  0.93       -26.0      4
38    3470      261.0    34.70  0.88       -50.0      4
39    3556      288.0    35.56  0.86        27.0      4
40    3641      288.0    36.41  0.85         0.0      4
41    3728      342.0    37.28  0.87        54.0      4
42    3817      312.0    38.17  0.89       -30.0      4
43    3908      296.0    39.08  0.91       -16.0      4
44    4000      291.0    40.00  0.92        -5.0      5
45    4088      260.0    40.88  0.88       -31.0      5
46    4185      328.0    41.85  0.97        68.0      5
47    4285      288.0    42.85  1.00       -40.0      5
48    4379      279.0    43.79  0.94        -9.0      5
49    4465      257.0    44.65  0.86       -22.0      5

In [21]:
dfgb = df.groupby(by="group")

In [25]:
dfgb["DT"].mean().values

array([0.81636364, 0.977     , 0.85166667, ..., 1.29125   , 0.81416667,
       1.15777778])

In [32]:
data = pd.DataFrame({
    "Freq":freq,
    'DT':dfgb["DT"].mean().values,
    "Amplitude":dfgb["Amplitude"].mean().values,
    "label": labels
})

In [35]:
data.to_csv("freq_DT_Ampli_label.csv")

In [34]:
data.corr()

               Freq        DT  Amplitude     label
Freq       1.000000 -0.009898   0.018275 -0.003868
DT        -0.009898  1.000000  -0.107337  0.164292
Amplitude  0.018275 -0.107337   1.000000 -0.066234
label     -0.003868  0.164292  -0.066234  1.000000