In [578]:
import os
from ECG.ecg import read_ecg
from ECG.ecg_sig import band_pass_filter
from ECG.ecg import make_df_summary
# file  =  os.path.join(os.path.dirname(os.path.realpath(__file__)),"a01.dat")
# filer  =  os.path.join(os.path.dirname(os.path.realpath(__file__)),"a01r.dat")
lf = 'c'
fn = 2
file  =  f"{lf}0{fn}.dat"
filer  =  f"{lf}0{fn}r.dat"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import numpy as np
from scipy.signal import find_peaks
import numpy as np
import matplotlib.pyplot as plt

In [591]:
events = 1000 # second window
eventsr =4*events

num_windows = 100
ecg_batchs = np.zeros((num_windows,events))
resp_batchs = np.zeros((num_windows,events))
labels = np.zeros(num_windows)
y_full = read_ecg(file,0,num_windows*events)
yr_full = read_ecg(filer,0,num_windows*eventsr)
RespN_full = yr_full[2::4]

In [592]:
for i in range(num_windows):
    yf = band_pass_filter(y_full[i*events:(i+1)*events],low=0.1,high = 0.5)
    RespNf = band_pass_filter(RespN_full[i*events:(i+1)*events],low=0.1,high = 0.5)
    ecg_batchs[i] = yf
    resp_batchs[i] = RespNf
    idx ,_ = find_peaks(RespNf,height=0)
    labels[i] = len(idx)*60/(events/100) # breaths per minute

In [593]:
freq = np.zeros(num_windows)
freqr = np.zeros(num_windows)
N = events
# sample spacing
T = 1.0 / 100.0
x = np.linspace(0.0, N*T, N)
xf = np.linspace(0.0, 1.0/(2.0*T), N/2)
for i in range(len(freq)):
    y = ecg_batchs[i]
    yf = np.fft.fft(y)
    
    yr = resp_batchs[i]
    yrf = np.fft.fft(yr)
    
    freq[i] = xf[np.argmax(yf[:100])]
    freqr[i] = xf[np.argmax(yrf[:100])]

In [594]:
len(freqr)

100

In [595]:
# make RR invervals

In [596]:
df = make_df_summary(file,0,num_windows*events)
df

      Offset  Amplitude  T (sec)    DT  DAmplitude
0      28171      286.0   281.71  0.00         0.0
1      28178     1886.0   281.78  0.07      1600.0
2      28184     2011.0   281.84  0.06       125.0
3      28186     2018.0   281.86  0.02         7.0
4      28188     2028.0   281.88  0.02        10.0
...      ...        ...      ...   ...         ...
2662   99825      183.0   998.25  0.60        26.0
2663   99852      177.0   998.52  0.27        -6.0
2664   99874      152.0   998.74  0.22       -25.0
2665   99913      188.0   999.13  0.39        36.0
2666   99940      144.0   999.40  0.27       -44.0

[2667 rows x 5 columns]

In [597]:
df["group"] = np.digitize(df.Offset,np.arange(0,num_windows*events,events))
df

      Offset  Amplitude  T (sec)    DT  DAmplitude  group
0      28171      286.0   281.71  0.00         0.0     29
1      28178     1886.0   281.78  0.07      1600.0     29
2      28184     2011.0   281.84  0.06       125.0     29
3      28186     2018.0   281.86  0.02         7.0     29
4      28188     2028.0   281.88  0.02        10.0     29
...      ...        ...      ...   ...         ...    ...
2662   99825      183.0   998.25  0.60        26.0    100
2663   99852      177.0   998.52  0.27        -6.0    100
2664   99874      152.0   998.74  0.22       -25.0    100
2665   99913      188.0   999.13  0.39        36.0    100
2666   99940      144.0   999.40  0.27       -44.0    100

[2667 rows x 6 columns]

In [598]:
dfgb = df.groupby(by="group")
dfgb.count().shape

(46, 5)

In [599]:
len(dfgb["DT"].mean().values)

46

In [600]:
data = pd.DataFrame({
    "Freq":freq,
    'DT':dfgb["DT"].mean().values,
    "Amplitude":dfgb["Amplitude"].mean().values,
    "Freqr": freqr
})

ValueError: arrays must all be same length

In [503]:
data.to_csv(f"freq_DT_Ampli_freq{lf}{fn}.csv")

In [504]:
data[:50]

        Freq        DT   Amplitude    Freqr
0   0.100100  0.732963  462.111111  0.25025
1   0.100100  0.768846  455.038462  0.30030
2   0.100100  0.766538  442.576923  0.25025
3   0.200200  0.745185  468.000000  0.20020
4   0.100100  0.748462  475.423077  0.30030
5   0.150150  0.750000  469.370370  0.35035
6   0.250250  0.753333  467.222222  0.35035
7   0.200200  0.496750  375.125000  0.30030
8   0.300300  0.546389  383.916667  0.35035
9   0.100100  0.731786  480.785714  0.10010
10  0.150150  0.772000  469.080000  0.30030
11  0.050050  0.780000  472.769231  0.25025
12  0.100100  0.703929  461.178571  0.30030
13  0.450450  0.726071  483.571429  0.15015
14  0.100100  0.695172  463.448276  0.10010
15  0.150150  0.705357  488.892857  0.25025
16  0.100100  0.703448  479.000000  0.10010
17  0.200200  0.325574  333.098361  0.20020
18  0.100100  0.289420  310.956522  0.15015
19  0.150150  0.678276  467.344828  0.15015
20  0.250250  0.536316  400.263158  0.15015
21  0.350350  0.718929  499.250000  0.30030
22  0.100100  0.723333  486.481481  0.20020
23  0.150150  0.717143  469.464286  0.25025
24  0.100100  0.687931  492.586207  0.25025
25  0.100100  0.724643  470.928571  0.30030
26  0.100100  0.239405  323.261905  0.40040
27  0.100100  0.523514  369.108108  0.30030
28  0.500501  0.648387  440.741935  0.30030
29  0.100100  0.740741  486.148148  0.35035
30  0.150150  0.733929  489.964286  0.25025
31  0.150150  0.673448  434.724138  0.10010
32  0.100100  0.749259  477.703704  0.25025
33  0.200200  0.736296  459.555556  0.30030
34  0.150150  0.802000  469.000000  0.20020
35  0.250250  0.764231  460.730769  0.25025
36  0.100100  0.751481  496.074074  0.20020
37  0.200200  0.716071  499.535714  0.30030
38  0.100100  0.711071  502.071429  0.15015
39  0.200200  0.321587  308.603175  0.10010
40  0.100100  0.252436  316.628205  0.10010
41  0.250250  0.267733  316.173333  0.30030
42  0.100100  0.632500  473.187500  0.25025
43  0.100100  0.395918  360.428571  0.25025
44  0.200200  0.790385  568.269231  0.25025
45  0.050050  0.762308  543.346154  0.20020
46  0.100100  0.754615  531.153846  0.30030
47  0.100100  0.786923  541.961538  0.25025
48  0.350350  0.736667  552.518519  0.30030
49  0.100100  0.728889  544.703704  0.25025